M07/UF1/webServices/Projects/SOAP/consumidorSOAP/src/META-INF/wsdl/localhost_8080/backendSOAP/WebServiceDAW2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://joccartes.daw2.fje.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://joccartes.daw2.fje.edu/" name="WebServiceDAW2">
<types>
<xsd:schema>
<xsd:import namespace="http://joccartes.daw2.fje.edu/" schemaLocation="http://localhost:8080/backendSOAP/WebServiceDAW2?xsd=1"/>
</xsd:schema>
</types>
<message name="iniciarJoc">
<part name="parameters" element="tns:iniciarJoc"/>
</message>
<message name="iniciarJocResponse">
<part name="parameters" element="tns:iniciarJocResponse"/>
</message>
<message name="obtenirCarta">
<part name="parameters" element="tns:obtenirCarta"/>
</message>
<message name="obtenirCartaResponse">
<part name="parameters" element="tns:obtenirCartaResponse"/>
</message>
<message name="mostrarCartes_codiPartida_numJug">
<part name="parameters" element="tns:mostrarCartes_codiPartida_numJug"/>
</message>
<message name="mostrarCartes_codiPartida_numJugResponse">
<part name="parameters" element="tns:mostrarCartes_codiPartida_numJugResponse"/>
</message>
<message name="tirarCarta">
<part name="parameters" element="tns:tirarCarta"/>
</message>
<message name="tirarCartaResponse">
<part name="parameters" element="tns:tirarCartaResponse"/>
</message>
<message name="moureJugador_aposta">
<part name="parameters" element="tns:moureJugador_aposta"/>
</message>
<message name="moureJugador_apostaResponse">
<part name="parameters" element="tns:moureJugador_apostaResponse"/>
</message>
<message name="moureJugador_passa">
<part name="parameters" element="tns:moureJugador_passa"/>
</message>
<message name="moureJugador_passaResponse">
<part name="parameters" element="tns:moureJugador_passaResponse"/>
</message>
<message name="acabarJoc">
<part name="parameters" element="tns:acabarJoc"/>
</message>
<message name="acabarJocResponse">
<part name="parameters" element="tns:acabarJocResponse"/>
</message>
<portType name="WebServiceDAW2">
<operation name="iniciarJoc">
<input wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/iniciarJocRequest" message="tns:iniciarJoc"/>
<output wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/iniciarJocResponse" message="tns:iniciarJocResponse"/>
</operation>
<operation name="obtenirCarta">
<input wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/obtenirCartaRequest" message="tns:obtenirCarta"/>
<output wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/obtenirCartaResponse" message="tns:obtenirCartaResponse"/>
</operation>
<operation name="mostrarCartes_codiPartida_numJug">
<input wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/mostrarCartes_codiPartida_numJugRequest" message="tns:mostrarCartes_codiPartida_numJug"/>
<output wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/mostrarCartes_codiPartida_numJugResponse" message="tns:mostrarCartes_codiPartida_numJugResponse"/>
</operation>
<operation name="tirarCarta">
<input wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/tirarCartaRequest" message="tns:tirarCarta"/>
<output wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/tirarCartaResponse" message="tns:tirarCartaResponse"/>
</operation>
<operation name="moureJugador_aposta">
<input wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/moureJugador_apostaRequest" message="tns:moureJugador_aposta"/>
<output wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/moureJugador_apostaResponse" message="tns:moureJugador_apostaResponse"/>
</operation>
<operation name="moureJugador_passa">
<input wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/moureJugador_passaRequest" message="tns:moureJugador_passa"/>
<output wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/moureJugador_passaResponse" message="tns:moureJugador_passaResponse"/>
</operation>
<operation name="acabarJoc">
<input wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/acabarJocRequest" message="tns:acabarJoc"/>
<output wsam:Action="http://joccartes.daw2.fje.edu/WebServiceDAW2/acabarJocResponse" message="tns:acabarJocResponse"/>
</operation>
</portType>
<binding name="WebServiceDAW2PortBinding" type="tns:WebServiceDAW2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="iniciarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenirCarta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarCartes_codiPartida_numJug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tirarCarta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moureJugador_aposta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moureJugador_passa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acabarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceDAW2">
<port name="WebServiceDAW2Port" binding="tns:WebServiceDAW2PortBinding">
<soap:address location="http://localhost:8080/backendSOAP/WebServiceDAW2"/>
</port>
</service>
</definitions>